<%= form_with(model: @task, local: true, url: choose_new_or_edit) do |form| %>
<% if @task.errors.any? %>
  <ul>
    <% @task.errors.full_messages.each do |message| %>
     <li class="error_messages"><%= message %></li>
    <% end %>
  </ul>
<% end %>

  <%= form.label :title %><br>
  <%= form.text_field :title %><br>
  <%= form.label :content %><br>
  <%= form.text_field :content %><br>
  <%= form.label :deadline %><br>
  <%= form.datetime_select :deadline %><br>
  <%= form.label :status %><br>
  <%= form.select :status, options_for_select(Task.statuses.keys.map {|k| [I18n.t("enums.task.status.#{k}"), k]}),  include_blank: true %><br>
  <%= form.label :priority %><br>
  <%= form.select :priority, options_for_select(Task.priorities.keys.map {|k| [I18n.t("enums.task.priority.#{k}"), k]}),  include_blank: true %><br>

  <%= form.submit t('view.create') %>
<% end %>
