<h2><%= t('view.create_confirm') %></h2>
<%= form_with(model: @task, url: tasks_path, local: true) do |f| %>
  <%= f.hidden_field :title %>
  <%= f.hidden_field :content %>
  <%= f.hidden_field :deadline %>
  <%= f.hidden_field :status %>
  <%= f.hidden_field :priority %>

  <p><%= "#{t('view.task.name')}：#{@task.title}" %></p>
  <p><%= "#{t('view.task.content')}：#{@task.content}" %></p>
  <p><%= "#{t('view.task.deadline')}：#{@task.deadline}" %></p>
  <p><%= "#{t('view.task.status')}：#{@task.human_attribute_enum(:status)}" %></p>
  <p><%= "#{t('view.task.priority')}：#{@task.human_attribute_enum(:priority)}" %></p>

  <%= f.submit t('view.create') %></p>
  <%= f.submit t('view.back'), name: 'back' %></p>
<% end %>
