<h1><%= t('view.task.index_task') %></h1>
<p><%= notice %></p>

<%= form_with(url: tasks_path, method: :get, local: true) do |form| %>
  <%= form.label :title, t('view.task.name')  %><br>
  <%= form.text_field :title %><br>
  <%= form.label :status, t('view.task.content') %><br>
  <%= form.select :status, options_for_select(Task.statuses.keys.map {|k| [I18n.t("enums.task.status.#{k}"), k]}), include_blank: true %><br>
  <%= form.submit t('view.search'), id: "searchbutton" %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= t('view.task.name') %></th>
      <th><%= t('view.task.content') %></th>
      <th><%= t('view.task.deadline') %></th>
      <th><%= t('view.task.status') %></th>
      <th><%= t('view.task.priority') %></th>
      <th><%= t('view.show') %></th>
      <th><%= t('view.edit') %></th>
      <th><%= t('view.delete') %></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr class="task_row">
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.deadline %></td>
        <td><%= task.human_attribute_enum(:status) %></td>
        <td><%= task.human_attribute_enum(:priority) %></td>
        <td><%= link_to t('view.show'), task_path(task.id) %></td>
        <td><%= link_to t('view.edit'), edit_task_path(task.id) %></td>
        <td><%= link_to t('view.delete'), task_path(task.id), method: :delete, data: { confirm: t('view.delete_confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to t('view.sorted_deadline'), tasks_path(sort_expired: "true") %><br>
<%= link_to t('view.sorted_priority'), tasks_path(sort_priority: "true") %><br>
<%= link_to t('view.create_task'), new_task_path %>
