<h1><%= t('view.task.content') %></h1>

<div class="ml-3 mb-5">
<p><%= t('view.task.name') %>:<%= @task.title %></p>
<p><%= t('view.task.content') %>:<%= @task.content %></p>
<p><%= t('view.task.deadline') %>:<%= @task.deadline %></p>
<p><%= t('view.task.status') %>:<%= @task.human_attribute_enum(:status) %></p>
<p><%= t('view.task.priority') %>:<%= @task.human_attribute_enum(:priority) %></p>
<strong>ラベル</strong>
<ul>
<% @task.labels.each do |label| %>
  <li><%= label.name %></li>
<% end %>
</ul>

</div>

<button class="btn btn-info ml-3 mb-3"><%= link_to t('view.back'), tasks_path %></button>
