<h1><%= 'ユーザー登録' %></h1>

<%= form_with(model: @user, local: true) do |form| %>
<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
     <li class="error_messages"><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="button mx-3 my-3">
  <p><span class="bold"><%= form.label :name %></p>
  <%= form.text_field :name %><br><br>
  <p><span class="bold"><%= form.label :email %></p>
  <%= form.email_field :email %><br><br>
  <p><span class="bold"><%= form.label :password %></p>
  <%= form.password_field :password %><br><br>
  <p><span class="bold"><%= form.label :password_confirmation %></p>
  <%= form.password_field :password_confirmation %><br><br>
  <p><span class="bold"><%= form.label :admin %></p>
  <p><%= form.check_box :admin ,{}, "true", "false" %></p><br><br>

  <%= form.submit t('view.create'), class: "btn btn-primary btn-lg" %>
  <% end %>
</div>
<button class="btn btn-info ml-3 my-3"><%= link_to t('view.back'), admin_users_path %></button>
