<h1><%= t('view.show_admin') %></h1>

<div class="col ml-2">
  <p><%= t('view.user.name') %>: <%= @user.name %>
  <p><%= t('view.user.email') %>: <%= @user.email %>
  <p><%= t('view.user.admin') %>: <%= @user.human_attribute_enum(:admin) %>
  <p><%= t('view.show_task') %>: <%= @user.tasks.size %>
</div>

<div class="row mx-3 my-3">
  <h4><%= @user.name %><%= t('view.show_admin_task') %></h4>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><%= t('view.task.name') %></th>
      <th><%= t('view.task.content') %></th>
      <th><%= t('view.task.deadline') %></th>
      <th><%= t('view.task.status') %></th>
      <th><%= t('view.task.priority') %></th>
    </tr>
  </thead>
  <tbody>
    <% @user.tasks.each do |task| %>
      <tr class="task_row">
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.deadline %></td>
        <td><%= task.human_attribute_enum(:status) %></td>
        <td><%= task.human_attribute_enum(:priority) %></td>
      </tr>
  </tbody>
  <% end %>
</table>
</div>
<button class="btn btn-info ml-3 my-3"><%= link_to t('view.back'), admin_users_path %></button>
