<!DOCTYPE html>
<html>
  <head>
    <title>TaskManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-dark" style="background-color:#889bb3;">
        <a class="navbar-brand" href="#!">
          <img src="/assets/notebook.png" width="30" height="30" alt="">
          タスク管理アプリ
        </a>
        <% if logged_in? %>
          <%= link_to "Profile", user_path(current_user.id) %>
          <%= link_to "Logout", session_path(current_user.id), method: :delete %>
        <% else %>
          <%= link_to "Sign up", new_user_path %>
          <%= link_to "Login", new_session_path %>
        <% end %>
      </nav>
    </header>
    <div class="container-fluid">
      <% if logged_in? && @current_user.admin? %>
        <button class="btn btn-primary btn-lg ml-1 my-4"><%= link_to %q(ユーザー管理), admin_users_path %></button>
      <% end %>
      <% if flash.notice %>
        <div class="alert alert-info"><%= flash.notice %></div>
      <% elsif flash.alert %>
        <div class="alert alert-warning"><%= flash.alert %></div>
      <% end %>
      <%= yield %>
      </div>
      <footer class="footer">
      <div class="container">
        <p class="text-muted">&copy;2020 TaskApp.</p>
      </div>
    </footer>
  </body>
</html>
