<!DOCTYPE html>
<html>
  <head>
    <title>TaskManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-dark" style="background-color:#889bb3;">
        <a class="navbar-brand" href="#!">
          <img src="/assets/notebook.png" width="30" height="30" alt="">
          タスク管理アプリ
        </a>
      </nav>
    </header>
    <div class="container-fluid">
      <%= yield %>
      </div>
      <footer class="footer">
      <div class="container">
        <p class="text-muted">&copy;2020 TaskApp.</p>
      </div>
    </footer>
  </body>
</html>
